/*KLASA ODREĐUJE POZICIJU, MARGINE, VELIČINU BOTUNA I VELIČINU FONTA NA BOTUNA TE TRAJANJE ANIMACIJA*/
.bottom_button {
    transition: 1s;
    position: fixed;
    bottom: 50%;
    font-size: large;
    margin-right: 20px;
    margin-left: 10px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    width: 41px;
}

/*KLASA KOJA ODREĐUJE POZICIJU, MARGINE, KARTICE ZA DODAVANJE AKCIJA I VELIČINU FONTA NA BOTUNA TE TRAJANJE ANIMACIJA */
.bottom-items{
    transition: 1s;
    position: fixed;
    bottom: 0%;
    height: 50%;
    width: 550px;
    background-color: rgba(73, 141, 118, 0.95);
    margin-left: 10px;
    border: 5px solid rgb(42, 82, 69);
    overflow: auto;
}

/*ODREĐUJE POZICIJU BOTUNA PRIJE KLIKA*/
.hidden-bottom-button{
    bottom: -10px;
}

/*ODREĐUJE POZICIJU KARTICE ZA DODAVANJE AKCIJA PRIJE KLIKA*/
.hidden-bottom-items{
    bottom: -50%; 
}

/*ODREĐUJE MARGINA POJEDINAČNIH CHECKBOXOVA*/
.filter-check{
    margin: 5px;
}

/*POVEĆAVA VELIČINU CHECKBOXA*/
.filter-check > input{
    padding: 5px;
    margin: auto;
}