
.text-center {
  text-align: center;
}

.portrait {
  width: 360px;
  height: 480px;
  margin-bottom: 5px;
}

body {
  font-family: Helvetica;
  height: 100vh;
}

.main-img {
  margin: auto;
  opacity: 70%;
}

.carousel-text {
  padding-bottom: 40%;
  font-weight: bold;
  font-family: monospace;
}

.akcija-card {
  width: 19rem;
  height: 37rem;
  display: inline-block;
  overflow: auto;
  margin-left: 2px; margin-right: 2px;
}

.akcije-card-btn {
  position: absolute;
  bottom: 5px;
}

h1 {
  font-size: 4em;
  text-align: center;
  font-family: "Georgia", serif;
}