body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*POSTAVLJA CUSTOM SCROLLBAR ZA FIREFOX*/
  scrollbar-width: thin; /*VELICINA SCROLLBARA*/
  scrollbar-color: #d7fffc #7a8b8a; /*SCROLLBAR TRAKA I THUMB BOJA*/ 
}

hr{
  color: #ffffff;
}

.text-center {
  text-align: center;
}

/*DIZAJN KARTICE ZA VOLONTERSKE AKCIJE*/
.activity-card {
  width: 19rem;
  height: 38rem;
  display: inline-block;
  overflow: auto;
  margin-inline: 2px;
}
/*POZICIJA BOTUNA ZA POSJEČIVANJE STRANICE VOLONTERSKE AKCIJE*/
.activity-card-btn {
  position: absolute;
  bottom: 5px;
}

/*POSTAVLJA CUSTOM SCROLLBAR ZA BROWSERE KAO CHROME, SAFARI, EDGE*/
::-webkit-scrollbar {
  width: 10px;
}

/*TRAKA*/
::-webkit-scrollbar-track {
  background-color: #d7fffc;
  border-radius: 100vw;
  margin-block: 5px;
}

/*THUMB*/
::-webkit-scrollbar-thumb {
  background-color: #7a8b8a;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.302);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #515c5b;
}
