/*POTAVLJA POZADINU DA PREKRIVA ZASLON I NE PONAVLJA SE */
body {
	background-image: url('../img/loginBackground.jpg');
	background-blend-mode: soft-light;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	margin-bottom: 10px;
}

/*VELICINA I MARGINE AVATARA KORISNIKA POVISE FORMA ZA PRIJACU*/
.avatar {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-bottom: 5px;
}

/*MARGINE, BOJA I SIRINA DIVA KOJI SADRZI TEKST POVISE FORMA ZA ULOGIRANJE*/
.header-box {
	color: #fff;
	margin: auto;
	margin-top: 10%;
	width: 350px;
}

/*DIZAJN TEXTA KOJI SE NALAZI U header-box-U*/
.top-text {
	padding: 5px;
	background-color:  #10a78d;
	font-family: monospace;
	border-radius: 50px;
	text-align: center;
}

/*SIRINA I MARGINA DIVA KOJI SADRZI FORM ZA ULOGIRANJE*/
.acc-box {
	width: 350px;
	margin: auto;
}

/*BOJA I MARGINE BOTUNA ZA STVARANJE NOVIH ACCOUNTA*/
.create-acc-btn {
	margin: 5px;
	color: #ffffff;
	transition: 0.5s;
}
.create-acc-btn:hover {
	color: #c7c7c7;
}

/*DIZAJN KARTICE KOJA SADRZI ZAPIS SATI*/
.record-card {
	width: 18rem;
	height: 15rem;
	margin: 1.5px;
	overflow: auto;
	display: inline-block;
}

/*POZICIJA BOTUNA ZA BRISANJE KARTICA*/
.card-remove {
	position: absolute;
	right: 10px;
	top: 10px;
}

/*POZICIJA BOUTUNA ZA POSJETIT STRANICU AKCIJE NA DNO KARTICE ZAPISA SATI*/
.card-link {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

/*DIZAJN TEKSTA KOJI SE PRIKAZUJE AKO NEMA NIJEDNOG ZAPISA*/
.filler-text {
	margin: auto;
	margin-right: 10%;
	text-align: center;
	border: 5px solid #808080;
	border-radius: 10px;
}

.admin-panel-btn {
	display: inline-block;
}
