/*POTAVLJA POZADINU DA PREKRIVA ZASLON I NE PONAVLJA SE */
body{
    background-image: url('../img/loginBackround.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 10px;
}


.acc-box{
    width: 420px;
    margin: auto;
}



.header{
    color: #fff;
    margin: auto;
    margin-top: 10%;
    width: 420px;
}

.avatar{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 5px;

}

.topText{
    padding: 5px;
    background-color:  rgb(16, 167, 141);
    font-family: monospace;
    border-radius: 50px;
    text-align: center;
}

.zapisnik-card{
    width: 18rem;
    height: 15rem;
    margin: 1.5px;
    overflow: auto;
    display: inline-block;
}

.card-remove{
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-link{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.create-acc-btn{
    margin: 5px;
    color: white;
    transition: 0.5s;
}
  
.create-acc-btn:hover{
    color: rgb(199, 199, 199);
}

.filler-text{
    margin: auto;
    margin-right: 10%;
    text-align: center;
    border: 5px solid gray;
    border-radius: 10px;
}

.uredite-akcije-btn{
    display: inline-block;
    
}